/*
========================================
BookAku
Version : 2.1.1 Alpha
File    : reader.css
========================================
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    background:#121212;

    color:#ffffff;

    font-family:Arial, Helvetica, sans-serif;

    overflow:hidden;

}

/* ==========================
   TOP BAR
========================== */

#topBar{

    position:fixed;

    top:0;

    left:0;

    right:0;

    height:60px;

    background:#1b1b1b;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:10px;

    border-bottom:1px solid #303030;

    z-index:1000;

}

#bookInfo{

    flex:1;

    margin-left:15px;

    overflow:hidden;

}

#bookTitle{

    font-size:18px;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

#bookAuthor{

    font-size:12px;

    color:#bdbdbd;

}

/* ==========================
   BUTTON
========================== */

#topBar button,
#bottomBar button{

    width:44px;

    height:44px;

    border:none;

    border-radius:12px;

    background:#2b2b2b;

    color:white;

    font-size:20px;

}

#topBar button:active,
#bottomBar button:active{

    transform:scale(.95);

}

/* ==========================
   READER
========================== */

#readerArea{

    position:fixed;

    top:60px;

    bottom:60px;

    left:0;

    right:0;

    background:#ffffff;

}

#viewer{

    width:100%;

    height:100%;

}

/* ==========================
   LOADING
========================== */

#loading{

    position:absolute;

    inset:0;

    display:flex;

    align-items:center;

    justify-content:center;

    background:white;

    color:#444;

    font-size:18px;

}

/* ==========================
   BOTTOM BAR
========================== */

#bottomBar{

    position:fixed;

    bottom:0;

    left:0;

    right:0;

    height:60px;

    background:#1b1b1b;

    display:flex;

    align-items:center;

    justify-content:space-around;

    border-top:1px solid #303030;

}

#pageInfo{

    font-size:14px;

    color:#cccccc;

    min-width:60px;

    text-align:center;

}